/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #595267ec;
    color: #4c3c32;
}

header {
    background-color: #447596;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style:none;
    display: flex;
    gap: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #4c3c32;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff;
    font-size: 30px;
    margin-bottom: 0px;
}


.hero {
    text-align: center;
    padding: 150px 0;
    background-image: url(CafeBackground.jpg);
    background-size:cover;
    color: white;

}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}


.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #7e685b;
}

.menu {
    padding: 100px 0;
    text-align: center;
}

.menu h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}
.menu label{
    color: black;
}
.menu p{
    color: black;
    font: arial;
}

.pastry{
    font: bold;
    color: black;
}
.about {
    padding: 100px 0;
    text-align: center;
    background-color: #ede4d6;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 15px;
    max-width: 800px;
    margin: 0 auto;
}
.Staff img {
    max-width: 100px;}

.contact {
    padding: 100px 0;
    text-align: center;
    background-color: #4c3c32;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p{
    font-size: 15px;
    margin-bottom: 10px;
}
footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 5px 0;
}
footer a:hover {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0px;
}

.hero nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

  .container {
   width: 20%;
   padding: 20px;
   background: gray;
   margin-left: auto;
   margin-right: auto;
  }
  .container .inputBox{
    position: crelative;
    width: 100%;
    margin-top: 5px;

  }
  .container .inputBox input,
  .container .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    margin: 5px 0;
    border: none;
    border-bottom: 2 px solid #333;
    outline: none;
    resize: none;
  }
  .container .inputBox input [type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
  }
