/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #6861c4ec;
    color: #4c3c32;
}

header {
    background-color: #5a94ba;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style:none;
    display: flex;
    gap: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #4c3c32;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #10040d;
    font-size: 30px;
    margin-bottom: 0px;
}


.hero {
    text-align: center;
    padding: 150px 0;
    background-image: url(https://m.media-amazon.com/images/I/71J5GH0UllL._AC_SX679_.jpg);
    background-size:cover;
    color: black;
}

.hero h1 {
    font-size: 80px;
    margin-bottom: 20px;
    font-family:Haettenschweiler;
    font-weight: bold;
}


.hero p {
    font-size: 40px;
    margin-bottom: 40px;
    font-family: Georgia;
    font-weight: bold;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #7e685b;
}

.menu {
    padding: 100px 0;
    text-align: center;
    background-image: url(https://img.freepik.com/free-photo/vintage-old-rustic-cutlery-dark_1220-4886.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%
}

.menu h2 {
    font-size: 30px;
    margin-top: 20px;
    color: white;
    font-family: Georgia;
}
.menu p{
    color: white;
    font: arial;
    font-weight: bold;
    font-family: 'Segoe UI';
}

.menu label{
    color: white;
    font: arial;
    font-weight: bold;
    font-family:sans-serif;
}
.about {
    padding: 100px 0;
    text-align: center;
    background-image: url(https://img.freepik.com/free-photo/vintage-old-rustic-cutlery-dark_1220-4886.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Georgia;
    color: white;
    font-weight: bold;
}

.about p {
    font-size: 15px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Georgia;
    color: white;
    font-weight: bold;
}
.Staff img {
    max-width: 150px;}

.contact {
    padding: 100px 0;
    text-align: center;
    background-image: url(https://img.freepik.com/free-photo/vintage-old-rustic-cutlery-dark_1220-4886.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Georgia;
    color: white;
    font-weight: bold;
}

.contact p{
    font-size: 15px;
    margin-bottom: 10px;
    font-family: Georgia;
    color: white;
}
footer {
    background-color: #482f20;
    text-align: center;
    padding: 3px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer a{
    color:#3239b9ec
}
footer a:hover {
    color: #998b8b;
    font-size: 20px;
    margin-bottom: 0px;
}

.hero nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

  .container {
   width: 20%;
   padding: 20px;
   background: rgb(30, 30, 29);
   margin-left: auto;
   margin-right: auto;
  }
  .container .inputBox{
    position: crelative;
    width: 100%;
    margin-top: 5px;

  }
  .container .inputBox input,
  .container .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    margin: 5px 0;
    border: none;
    border-bottom: 2 px solid #333;
    outline: none;
    resize: none;
  }
  .container .inputBox input [type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
  }
